body 
{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
}


/*---------------------------------------principale--------------------------*/
#first
{
	padding-left: 60px;
}

h1
{
	font-size: 55px;
	margin: 0;
	padding-top: 55px;
}

#title-separator strong
{
	color: #FCBF00;
}

h2
{
	margin: 0;
}

h3
{
	font-size: 25px;
	margin: 0;
}

h4
{
	font-size: 20px;
	margin: 0;
}

#title
{
	position: relative;
	margin: 50px 0px 150px 0px;
}

#title span
{
	position: absolute;
	top: 98%;
	left: 0%;
	width: 5.5%;
	height: 2px;
	background-color: #FCBF00;
	border: none;
}

	/*---------------------------------Formation----------------------------*/

#study 
{
	position: relative;
}

#study p
{
	line-height: 25px;
}

#head-study
{
	display: flex;
}

.cap
{
	font-size: 30px;
	color: #FCBF00;
	padding-right: 25px;
}

#study span
{
	position: absolute;
	top: 9%;
	left: 0%;
	width: 95%;
	height: 2px;
	background-color: #FCBF00;
	border: none;
}

#étude
{
	padding-top: 32px;
}

#étude ul 
{
    padding: 0;
    margin: 0;
}

#étude li 
{
    display: flex;
    justify-content: space-around;
}


.icone-study
{
	display: flex;
	padding-right: 125px;
}

.icone-study p
{
	margin: 0;
	padding-left: 20px;
}

.icone-study i 
{
	color: #FCBF00;
}

.text-study 
{
    width: 59%;
}

.text-study h5
{
	margin: 0;
	font-size: 15px;
	padding-top: 7px;
}

.text-study p 
{
    text-align: justify; 
    margin: 0;
    padding: 7px 0px 32px 0px;
}


	/*--------------------Expériences Professionnelles-----------------*/
#work
{
	position: relative;
}

#work p
{
	line-height: 25px;
}

#overhead
{
	display: flex;
}

.case
{
	font-size: 30px;
	color: #FCBF00;
	padding-right: 40px;
}

#work span
{
	position: absolute;
	top: 6%;
	left: 0%;
	width: 95%;
	height: 2px;
	background-color: #FCBF00;
	border: none;
}

#job
{
	padding-top: 32px;
}

#job ul
{
	padding: 0;
	margin: 0;
}

#job li
{
	display: flex;
	justify-content: space-around;
}

.icone-job
{
	display: flex;
}

.icone-job p
{
	margin: 0;
	padding-left: 20px;
}

.icone-job i 
{
	color: #FCBF00;
}

.text-job
{
	
    width: 60%;
}

.text-job h5
{
	margin: 0;
	font-size: 15px;
	padding-top: 7px;
}

.text-job p
{
	text-align: justify; 
    margin: 0;
    padding: 7px 0px 20px;
	margin-bottom: 20px;
}

	/*---------------------------Recommandation---------------------*/

#recommandation 
{
	position: relative;
}

#head-recommandation
{
	display: flex;
}

.pen
{
	font-size: 30px;
	color: #FCBF00;
	padding-right: 40px;
}

#recommandation span
{
	position: absolute;
	top: 22.5%;
	left: 0%;
	width: 95%;
	height: 2px;
	background-color: #FCBF00;
	border: none;
}

#move
{
	padding-top: 25px;
	display: flex;
	justify-content: space-around; 
}

#move h5
{
	font-size: 20px;
	margin: 0;
	padding-bottom: 10px;
}

#move p
{
	margin: 0;
	padding-bottom: 3px;
}


/*---------------------------------personnelles--------------------------*/
#personal 
{
	width: 50%;
    background-color: #FCBF00;
    padding-top: 20%;
    position: relative;
}

#personal h3
{
	color: #FCBF00;
	background-color: #383838;
	padding: 5px 0px 5px;
	text-align: center;
}

img 
{
    position: absolute;
    top: 2%;
    left: 23%;
    width: 55%;
    border-radius: 135px;
}

a
{
	text-decoration: none;
	color: #000;
}

#contact p
{
	padding-left: 55px;
}

#about_me p
{
	width: 80%;
    padding: 15px 0px 450px 55px;
    text-align: justify;
    line-height: 25px;
}

#hobbies
{
	text-align: center;
}

#hobbies i
{
	font-size: 35px; 
	margin: 32px;
}

.film
{
	border: 2px solid black;
	border-radius: 40px;
	padding: 5px;
}

.music
{
	border: 2px solid black;
	border-radius: 40px;
	padding: 8.5px;
}

.beer
{
	border: 2px solid black;
	border-radius: 40px;
	padding: 5px;
}

/*------------------------responsive mobile 320px-------------------*/
@media all and (min-width: 320px) and (max-width: 767px)
{
	body
	{
		display: initial;
	}

	#first
	{
		padding-left: 0px;
	}

	/*---------partie principale---------*/
	h1
	{
		font-size: 35px;
	}

	h2
	{
		font-size: 20px;
	}

	h3
	{
		font-size: 15px;
	}

	h4 
	{
    	font-size: 14px;
    }

	#title
	{
		text-align: center;
		margin: 0px 0px 100px 0px;
	}

	#title span
	{
		top: 98%;
		left: 14%;
		width: 17%;
	}

	/*-------formation---------*/
	#head-study
	{
		justify-content: center;
	}

	.cap
	{
		font-size: 17px;
    	padding-right: 2px;
	}


	#study span
	{
		top: 2.75%;
    	left: 32%;
    	width: 36%;
    }

    #étude li 
	{
	    display: inherit;
	}

	.icone-study
	{
		display: flex;
		justify-content: center;
		padding: 0px 0px 20px 0px;
	}

	.icone-study .circle
	{
		padding-right: 5px;
	}

	.icone-study p
	{
		margin: 0;
		padding-left: 0px;
		text-align: center;
	}

	.text-study 
	{
	    width: 100%;
	    text-align: center;
	}

	.text-study p
	{
		text-align: justify; 
	    margin: 0;
	    padding: 10px 15px 32px 15px;
	}

	/*--------------------Expériences Professionnelles-----------------*/
	#overhead
	{
		justify-content: center;
	}

	.case
	{
		text-align: center;
		font-size: 17px;
		padding-right: 3px
	}

	#work span
	{
		position: absolute;
		top: 2%;
    	left: 7.25%;
    	width: 85.5%;
		height: 2px;
		background-color: #FCBF00;
		border: none;
	}

	#job
	{
		padding-top: 32px;
	}

	#job ul
	{
		padding: 0;
		margin: 0;
	}

	#job li
	{
		display: initial;
	}

	.icone-job
	{
		justify-content: center;
		padding: 0px 0px 20px 0px;
	}

	.icone-job p
	{
		margin: 0;
		padding-left: 5px;
	}

	.icone-job i 
	{
		color: #FCBF00;
	}

	.text-job
	{
		
	    width: 100%;
	    text-align: center;
	}

	.text-job h5
	{
		margin: 0;
		font-size: 15px;
		padding-top: 7px;
	}

	.text-job p
	{
		text-align: justify; 
	    margin: 0;
	    padding: 10px 15px 32px 15px;
	}

	/*---------------------------Recommandation---------------------*/

	#recommandation 
	{
		position: relative;
	}

	#head-recommandation
	{
		display: flex;
		justify-content: center;
	}

	.pen
	{
		font-size: 17px;
		color: #FCBF00;
		padding-right: 3px;
	}

	#recommandation span
	{
		top: 8%;
    	left: 22%;
    	width: 60%;
	}

	#move
	{
		padding-top: 15px;
		display: inherit;
		text-align: center;
	}

	#move h5
	{
		font-size: 15px;
		margin: 0;
		padding-bottom: 5px;
	}

	#move p
	{
		margin: 0;
		padding-bottom: 3px;
	}

	#one
	{
		padding-bottom: 25px;
	}

	#two
	{
		padding-bottom: 25px;
	}

	/*-----------------------personnelle-------------------*/
	#personal 
	{
    	width: 100%;
    	padding-top: 64%;
	}

	img
	{
		top: 1%;
	}

	#about_me p 
	{
	    width: 90%;
    	padding: 10px 6px 10px 17px;
	    margin: 0;
	}

	#contact p 
	{
    	padding-left: 15px;
	}

	#hobbies
	{
		text-align: center;
	}

	#hobbies i
	{
		font-size: 25px;
		margin: 10px;
	}
}

@media all and (min-width: 375px) and (max-width: 424px)
{
	/*---------partie principale---------*/
	#title span
	{
		top: 98%;
		left: 19%;
    	width: 15%;
	}

	/*-------formation---------*/
	#study span
	{
		top: 3%;
    	left: 34.5%;
    	width: 31%;
	}


	/*--------Expériences Professionnelles--------*/
	#overhead
	{
		justify-content: center;
	}

	#work span 
	{
	    top: 2.25%;
    	left: 13.25%;
    	width: 74%;
	}

	/*---------------Recommandation---------------*/
	#recommandation span
	{
		top: 8%;
   		left: 25.5%;
    	width: 49%;
	}

	/*-----------------------personnelle-------------------*/
	
	#personal 
	{
    	width: 100%;
    	padding-top: 60%;
    }
    img
	{
		top: 2.75%;
    	left: 30%;
    	width: 45%;
	}

	#contact p 
	{
    	padding-left: 20px;
	}

	#about_me p 
	{
	    width: 90%;
    	padding: 10px 6px 10px 20px;
	    margin: 0;
	}
}

/*------------------------Responsive mobile 425px-----------------------*/
@media all and (min-width: 425px) and (max-width: 767px)
{
	/*---partie principale----*/
	#title span
	{
		top: 98%;
    	left: 23%;
    	width: 13%;	
	}
	/*-------formation---------*/
	#study span 
	{
    	top: 3.5%;
    	left: 36.5%;
    	width: 27%;
    }

    /*--------Expériences Professionnelles--------*/
	#overhead
	{
		justify-content: center;
	}

	#work span 
	{
	    top: 2.5%;
    	left: 17.75%;
    	width: 64.5%;
	}

	/*---------------Recommandation---------------*/
	#recommandation span
	{
		top: 8%;
    	left: 29%;
    	width: 42%;
	}

	/*-----------------------personnelle-------------------*/
	#personal 
	{
    	width: 100%;
    	padding-top: 60%;
    }
    img
	{
		top: 2.75%;
    	left: 30%;
    	width: 45%;
	}

	#contact p 
	{
    	padding-left: 24px;
	}
	#about_me p 
	{
    	padding: 10px 6px 10px 22px
	}
}